/* Custom styles */
#result {
    display: none;
}

.img-fluid {
    max-height: 300px;
    width: auto;
}

#tattooList {
    margin-top: 20px;
}

.tattoo-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--bs-border-color);
    border-radius: 5px;
}

.tattoo-item img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}
